<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<!-- main start -->
<section class="bg-light pt-4">
    <div class="container" style="height: 70vh; ">
        <img src="https://image.freepik.com/free-vector/illustration-concept-blogging-with-person-holding-laptop_129685-217.jpg" width="100%" height="100%" style="object-fit: cover;" class="card-img-top" alt="...">
    </div>
</section>

<!-- <section>
    <div class="container-fluid bg-purple">
        <div class="text-center">
            <h1 class="text-white p-3">All Stories</h1>
        </div>
    </div>
</section> -->

<section class="bg-white my-5 py-3">
    <div class="container ">
        <div class="m-3 text-center">
            <h2>Our Blog</h2>
        </div>
        <div>
            <div class="row">
                <% for (const blog of blogs){ %>
                    <div class="col-lg-4">
                        <div class="card m-3 shadow-sm p-3 mb-5 bg-body rounded">
                            <div style="height: 150px">
                                <img src="<%= blog.img %>" class="card-img-top" style="object-fit: cover; height:100%" alt="card-image">
                            </div>
                            <div class="card-body">
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                              <h5 class="card-title"><%= blog.title.substring(0,50) %></h5>
                              <p class="card-text"><%= blog.content.substring(0,85) %>...</p>
                              <a href="/blog/<%= blog._id %>" class="card-link text-decoration-none">Read more</a>
                            </div>
                        </div>
                    </div>
                    
                <% } %>
            </div>
        </div>
    </div>
    
</section>
<!-- main end -->
<%- include('./partials/footer') %>